<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Member</title>
  </head>
  <body>
    <%- include("./nav"); %>
    <form method="post">
      <label for="passcode">Passcode</label>
      <input type="password" name="passcode" id="passcode" />
      <button>Authenticate</button>
    </form>
    <% if (locals.errors) {%>
      <% errors.forEach((error) => { %>
        <%- `<p>${error.msg}</p>` %>
      <%});%>
    <%}%>
  </body>
</html>