<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/nav.css">
    <title>Become a Member</title>
  </head>
  <body>
    <%- include("./nav"); %>
    <main>
      <form method="post">
        <div>
          <label for="passcode">Passcode</label>
          <input type="password" name="passcode" id="passcode" />
          <% if (locals.errors) {%>
            <% errors.forEach((error) => { %>
              <%- `<p class="error">${error.msg}</p>` %>
            <%});%>
          <%}%>
        </div>
        <button>Authenticate</button>
      </form>
    </main>
  </body>
</html>