<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/form.css">
    <title>Create Message</title>
  </head>
  <body>
    <%- include("./nav"); %>
    <main>
      <form method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= locals.title ? title : '' %>" />
        <% if (locals.errors) {%>
          <% errors.forEach((error) => { %>
            <% if (error.path === "title") { %>
              <%- `<p class="error">${error.msg}</p>` %>
            <%}%>
          <%});%>
        <%}%>
        <label for="body">Body Text</label>
        <textarea name="body" id="body" placeholder="My thoughts..."></textarea>
        <% if (locals.errors) {%>
          <% errors.forEach((error) => { %>
            <% if (error.path === "body") { %>
              <%- `<p class="error">${error.msg}</p>` %>
            <%}%>
          <%});%>
        <%}%>
        <button>Create Message</button>
      </form>
    </main>
  </body>
</html>