<nav>
  <% if (!locals.userStatus) { %>
    <a href="/sign-up">
      <button>Sign up</button>
    </a>
    <a href="/login">
      <button>Log in</button>
    </a>
    <a href="/admin-sign-up">
      <button>Admin Sign Up</button>
    </a>
  <%}%>
  <% if (locals.userStatus === "user") { %>
    <a href="/user/become-member">
      <button>Become a member</button>
    </a>
  <%}%>
  <% if (locals.userStatus) { %>
    <a href="/logout">
      <button>Log out</button>
    </a>
  <%}%>
</nav>