form {
  max-width: 540px;
  margin: 32px auto 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div.name {
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

form > div.name > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

@property --color1 {
  syntax: '<color>';
  initial-value: #5dcda0;
  inherits: false;
}

@property --color2 {
  syntax: '<color>';
  initial-value: #0369a1;
  inherits: false;
}

form > button {
  margin-top: 18px;
  padding: 12px;
  align-self: center;
  background:linear-gradient(155deg, var(--color1), var(--color2));
  color: #d1fae5;
  font-size: 0.9rem;
  border: none;
  transition: --color1, 600ms, --color2 600ms;
}

form > button:hover {
  --color1: #0369a1;
  --color2: #6ee7b7;
  transform: translateY(-2px);
  transition: --color1, 600ms, --color2 600ms;
}

label {
  font-weight: 400;
  font-size: 0.9rem;
}

input, textarea {
  padding: 8px;
}

p.error {
  margin: 6px 0;
  font-size: 0.8rem;
  color: #e24444;
}

textarea {
  resize: vertical;
  min-height: 56px;
  height: 140px;
  max-height: 360px;
}